<div class="main_container">
  <div class="information">
    <h2>スケジュール一覧</h2>
  </div>
  
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>終日</th>
        <th>スケジュール更新日時</th>
        <th>確認</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td>1049</td>
        <td>勉強</td>
        <td>2022年04月21日</td>
        <td>2022年04月21日</td>
        <td><strong>○</strong></td>
        <td>2022年04月17日 09時56分</td>
        <td><a href="/posts/1049">確認</a></td>
        <td><a href="/posts/1049/edit">編集</a></td>
        <td><a data-confirm="本当に削除しますか？" rel="nofollow" data-method="delete" href="/posts/1049">削除</a></td>
      </tr>
      <tr>
        <td>1048</td>
        <td>csacsa</td>
        <td>2022年04月19日</td>
        <td>2022年04月30日</td>
        <td><strong>○</strong></td>
        <td>2022年04月18日 21時31分</td>
        <td><a href="/posts/1048">確認</a></td>
        <td><a href="/posts/1048/edit">編集</a></td>
        <td><a data-confirm="本当に削除しますか？" rel="nofollow" data-method="delete" href="/posts/1048">削除</a></td>
      </tr>
      <tr>
        <td>1050</td>
        <td>aaa</td>
        <td>2022年04月05日</td>
        <td>2022年04月28日</td>
        <td><strong>○</strong></td>
        <td>2022年04月19日 23時01分</td>
        <td><a href="/posts/1050">確認</a></td>
        <td><a href="/posts/1050/edit">編集</a></td>
        <td><a data-confirm="本当に削除しますか？" rel="nofollow" data-method="delete" href="/posts/1050">削除</a></td>
      </tr>
    </tbody>
  </table>
  
  <p><%= link_to"スケジュール新規登録" %></p>
</div>
