// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
div {
  display: block;
}

.main_container {
  margin: 50px 15px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  display: table;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

table th {
  background-color: #800080;
  color: #FFFFFF;
  border: solid 1px black;
  padding: 10px 20px;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

table td {
  background-color: #CCFFFF;
  text-align: center;
  border: solid 1px black;
  padding: 10px 20px;
}

td {
  display: table-cell;
  vertical-align: inherit;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

